# This file can be used to create an environment using the following command lines in the terminal (remember to remove the # to uncomment):
#
# conda create --name Team7_HAX712X python=3.11.10
# conda init 
# conda activate Team7_HAX712X
# conda install requirements.txt

cycler
ffmpeg-python
folium
fonttools
geopandas
geopy
imageio
ipykernel
ipython
jupyter_client
jupyter_core
matplotlib >=3.7.2
nest-asyncio
opencv-python
osmnx
pandas>=1.5.0
peep
pillow
plotly
pooch
prophet
python-dateutil
pytz
pyzmq
requests
seaborn==0.12.2
numpy==1.24.4
scipy==1.11.2
tqdm
tornado
Moviepy
beautifulsoup4
scikit-learn
