# This file may be used to create an environment using:
# conda create --name HAX712X python=3.11.10
# conda init 
# conda activate HAX712X
# pip install -r requirements.txt
# platform: osx-arm64
cycler
ffmpeg-python
folium
fonttools
geopandas
geopy
imageio
ipykernel
ipython
jupyter_client
jupyter_core
matplotlib
nest-asyncio
numpy
opencv-python
osmnx
pandas
peep
pillow
plotly
pooch
prophet
python-dateutil
pytz
pyzmq
requests
seaborn
tqdm
tornado
Moviepy




