/* styles.css : to determine the graphic chart */

/* Style for main titles */
h1 {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 1.5em;
}

/* Style for subtitles 2 */
h2 {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 1em;
  border-bottom: 2px solid #e8e5e5; /* Trait gris sous h3 */
  padding-bottom: 5px; /* Décale la ligne vers le bas */
}

/* Style for subtitles 3 */
h3 {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1em;
  border-bottom: 2px solid #e8e5e5; /* Trait gris sous h3 */
  padding-bottom: 5px; /* Décale la ligne vers le bas */
}

/* Style for text */
.text {
  color: black;
  text-align: justify; 
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 1em;
}

.text ul {
  list-style-type: disc; /* Définit des puces (bullet points) */
  padding-left: 20px;     /* Espace à gauche pour les puces */
}

.text li {
  margin-bottom: 5px;    /* Espace entre chaque élément de la liste */
}

/* Style for navigation bar */
.navbar {
  background-color: #209f59 !important;   /* background color */
  color: black;                           /* text color */
}

/* Style for logo or title color */
.navbar-brand {
  color: black !important;
  font-family: 'Lato', sans-serif;
}

/* Style for navigation links */
.nav-link {
  color: black !important;
  font-family: 'Lato', sans-serif;
}

/* Style for navigation links when computer mouse hovers over them */
.nav-link:hover {
  color: white !important;
}

/* Couleurs des sous-menus en mode clair */
body:not(.quarto-dark) .navbar .dropdown-menu {
  color: black;
  background-color: white;
}

body:not(.quarto-dark) .navbar .dropdown-item {
  color: black;
}

body:not(.quarto-dark) .navbar .dropdown-item:hover {
  background-color: #63d396;
  color: black;
}

/* Global style to the main content section */
.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
}

.custom-footer {
  background-color: #e3e4e6; /* Couleur de fond */
  font-family: 'Lato', sans-serif;
  color: #333; /* Couleur du texte */
  padding: 5px;
  text-align: center;
  font-size: 0.8em;
  border-top: 1px solid #ddd;
  position: fixed; /* Fixe le footer en bas de la fenêtre */
  bottom: 0;
  left: 0;
  width: 100%; /* Assure une largeur de 100% */
  box-sizing: border-box; /* Inclus le padding dans la largeur */
  z-index: 1000;
}

/* Enlève la couleur bleue et le soulignement par défaut des liens */
.custom-footer a {
  color: #333; /* Couleur du texte normale */
  text-decoration: none; /* Supprime le soulignement */
}

/* Effet de survol des liens */
.custom-footer a:hover {
  color: #209f59; /* Couleur bleue lors du survol */
  text-decoration: underline; /* Soulignement lors du survol */
}

.custom-footer .privacy-policy {
  margin-left: 20px; /* Décale "Privacy policy" vers la droite */
}

.pointilles-rectangle {
  border: none;
  border-top: 5px dashed #000000; /* Bordure pointillée */
  width: 100%;                      /* Largeur de la ligne */
  margin: 0 auto;                  /* Centrer la ligne */
  background: repeating-linear-gradient(90deg, #000000 0px, #000000 20px, transparent 20px, transparent 40px); /* Augmenter la taille des points */
  background-size: 400px 100%;      /* Augmenter la taille des points et de l'espacement */
}

.bike {
  animation: move-dashed-line 10s linear infinite; /* Animation */
}

@keyframes move-dashed-line {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(50%);
  }
}

.trombinoscope {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.member {
  text-align: center;
  max-width: 180px;
}
.member img {
  border-radius: 10%;
}

/* Styles de base */
:root {
  --text-color-light: black;
  --text-color-dark: #e0e0e0;
  --background-color-light: white;
  --background-color-dark: #474646;
}

/* Mode sombre */

/* Mode sombre */
body.quarto-dark {
  color: var(--text-color-dark);
  background-color: var(--background-color-dark);
}

/* Ajustements spécifiques pour le mode sombre */
body.quarto-dark h1,
body.quarto-dark h2,
body.quarto-dark h3 {
  color: var(--text-color-dark);
}

body.quarto-dark .text {
  color: var(--text-color-dark);
}

body.quarto-dark .navbar {
  background-color: #187240 !important;
  color: var(--text-color-dark);
}

body.quarto-dark .navbar-brand,
body.quarto-dark .nav-link {
  color: var(--text-color-dark) !important;
}

body.quarto-dark a {
  color: #3498db; /* Couleur de lien visible en mode sombre */
}

body.quarto-dark .custom-footer {
  background-color: #232323; /* Nouvelle couleur de fond sombre */
  color: #e0e0e0; /* Couleur de texte claire */
}

body.quarto-dark .custom-footer a {
  color: white; /* Couleur de liens en mode sombre */
}

body.quarto-dark .custom-footer a:hover {
  color: #209f59; /* Couleur de survol des liens */
}

/* Couleur des liens (encres) en mode clair */
a {
  color: #209f59; /* Changez cette couleur selon vos préférences */
  text-decoration: none; /* Supprime le soulignement par défaut */
}

/* Couleur des liens lors du survol (hover) en mode clair */
a:hover {
  color: #209f59; /* Couleur différente au survol */
  text-decoration: underline; /* Ajoute un soulignement au survol */
}

/* Couleur des liens en mode sombre */
body.quarto-dark a {
  color: #209f59; /* Changez cette couleur selon vos préférences */
  text-decoration: none; /* Supprime le soulignement par défaut */
}

/* Couleur des liens au survol en mode sombre */
body.quarto-dark a:hover {
  color: #209f59; /* Couleur au survol */
  text-decoration: underline; /* Ajoute un soulignement au survol */
}
