/* styles.css : to determine the graphic charter and styles  */

/* ---------------------------- */
/*        TITLES STYLES         */
/* ---------------------------- */

/* Common styles for all titles and text */
h1, h2, h3, h4, h5, .text {
  color: black;                           /* text color */
  font-family: 'Lato', sans-serif;          /* font style */
  font-weight: 500;                         /* font weight */
}

/* Appearance of first-level titles */
h1 {
  font-size: 38px;
  margin-bottom: 1.5em;                  
  text-align: center;
}

/* Common styles for h2, h3 and h4 */

h2, h3, h4 {
  margin-bottom: 1em;
  border-bottom: 2px solid #e8e5e5;     /* grey underline */
  padding-bottom: 5px;                    /* push the underline down */
}

/* Appearance of second-level titles */
h2 {
  font-size: 30px;
  border-bottom: 4px solid #7a7878;     /* grey underline */
}

/* Appearance of third-level titles */
h3 {
  font-size: 24px;
}

/* Appearance of fourth-level titles */
h4 {
  font-size: 15px;
}

/* Appearance of fifth-level titles */
h5 {
  font-size: 14px;
  margin-bottom: 1em;
  padding-bottom: 5px;
  text-align: center;
}

/* Title styles for dark mode */
body.quarto-dark h1,
body.quarto-dark h2,
body.quarto-dark h3,
body.quarto-dark h4,
body.quarto-dark h5 {
  color: #e0e0e0;
}

/* ---------------------------- */
/*        TEXT STYLES           */
/* ---------------------------- */

/* Appearance of texts */
.text {
  text-align: justify; 
  font-size: 17px;
  margin-bottom: 1em;
  color: red;
}

/* Appareance of texts in the dark mode */
body.quarto-dark .text {
  color: #e0e0e0;
}

/* Bullet points in text */
.text ul {
  list-style-type: disc;                /* define the bullet style */
  padding-left: 30px;
}

/* Space between list items */
.text li {
  margin-bottom: 10px;                   
}

/* ---------------------------- */
/*    LAYOUT AND GLOBAL STYLES  */
/* ---------------------------- */

/* Main content */
.page-content {
  max-width: 2000px !important;         /* maximum width of the content zone */
  margin: 0 auto;
  padding: 0 20px;
}

/* Responsive adjustments */
@media (max-width: 2000px) {
  .content {
    margin-right: 0;
  }
  /* Table of content */
  nav.toc-content {
    display: none;
  }
}

/* Dark mode adjustments */
body.quarto-dark {
  background-color: #4F4F4F;
}

/* ---------------------------- */
/*     NAVIGATION BAR STYLES    */
/*              -               */
/*          LIGHT MODE          */
/* ---------------------------- */

/* Navbar styles */
body:not(.quarto-dark) .navbar {
  background-color: #26BA69 !important;   /* green background color */
  color: black;                           /* text color */
  font-family: 'Lato', sans-serif;
}

/* Navbar links, brand and dropdown item */
body:not(.quarto-dark) .nav-link,
body:not(.quarto-dark) .navbar .dropdown-item,
body:not(.quarto-dark) .navbar-brand {
  color: black !important;
  font-size: 18px;
}

/* Navbar brand hover effect */
body:not(.quarto-dark) .nav-link:hover,
body:not(.quarto-dark) .navbar-brand:hover {
  color: white !important;
}

/* Dropdown menus */
body:not(.quarto-dark) .navbar .dropdown-menu {
  color: black;
  background-color: white;
}

/* Color for hover dropdown items */
body:not(.quarto-dark) .navbar .dropdown-item:hover {
  background-color: #63d396;
  color: black;
}

/* ---------------------------- */
/*     NAVIGATION BAR STYLES    */
/*              -               */
/*          DARK MODE           */
/* ---------------------------- */

/* Navbar styles */
body.quarto-dark .navbar {
  background-color: #125932 !important;   /* green background color */
  color: black;                           /* text color */
  font-family: 'Lato', sans-serif;
}

/* Navbar links, brand and dropdown item */
body.quarto-dark .nav-link,
body.quarto-dark .navbar .dropdown-item,
body.quarto-dark .navbar-brand {
  color: white !important;
  font-size: 18px;
}

/* Navbar brand hover effect */
body.quarto-dark .nav-link:hover,
body.quarto-dark .navbar-brand:hover {
  color: black !important;
}

/* Dropdown menus */
body.quarto-dark .navbar .dropdown-menu {
  color: white;
  background-color: #2c2c2c;
}

/* Color for hover dropdown items */
body.quarto-dark .navbar .dropdown-item:hover {
  background-color: #176E3E;
  color: black;
}

/* ---------------------------- */
/*        FOOTER STYLES         */
/*              -               */
/*          LIGHT MODE          */
/* ---------------------------- */

/* Footer appearance */
.custom-footer {
  background-color: #e3e4e6;
  font-family: 'Lato', sans-serif;
  color: #333;
  padding: 5px;
  text-align: center;
  font-size: 0.8em;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

/* Footer link styles */
.custom-footer a {
  color: #333;
  text-decoration: none;
}

/* Hover effects for footer links */
.custom-footer a:hover {
  color: #209f59;
  text-decoration: underline;
}

/* Margin for the first link in the footer */
.custom-footer .MIT-license {
  margin-left: 20px;
}

/* ---------------------------- */
/*        FOOTER STYLES         */
/*              -               */
/*          DARK MODE           */
/* ---------------------------- */

/* Footer appearance */
body.quarto-dark .custom-footer {
  background-color: #232323;
  color: #e0e0e0;
}

/* Footer link styles */
body.quarto-dark .custom-footer a {
  color: white;
}

/* Hover effects for footer links */
body.quarto-dark .custom-footer a:hover {
  color: #209f59;
}

/* ---------------------------- */
/*   DASHED LINE & ANIMATION    */
/* ---------------------------- */

/* Style of the line (road) in the home page */
.pointilles-rectangle {
  border: none;
  border-top: 5px dashed #000000;
  width: 100%;                  
  margin: 0 auto;               
  background: repeating-linear-gradient(90deg, #000000 0px, #000000 20px, transparent 20px, transparent 40px); 
  background-size: 400px 100%;
}

/* Style of the bike in the home page */
.bike {
  animation: move-dashed-line 10s linear infinite;
}

/* Animation of the bike in the home page */
@keyframes move-dashed-line {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(50%);
  }
}

/* ---------------------------- */
/*      PHOTO DIRECTORY         */
/* ---------------------------- */

/* Photo directory appareance ('about us' section) */
.trombinoscope {
  display: flex;
  flex-wrap: nowrap;              /* prevents elements from passing the line */
  gap: 10px;                      /* spacing between members */
  justify-content: space-around;  /* distributes elements evenly */
  align-items: center;            /* aligns elements vertically */
}

/* Cases for the members photos ('about us' section) */
.member {
  text-align: center;
  max-width: 180px;               /* maximum size of each member card */
  flex: 1;                        /* each element to adapt to stay on 1 line */
}

/* Appareance and size of the members photos ('about us' section) */
.member img {
  border-radius: 10%;             /* maintains rounded edges */
  max-width: 100%;
  width: 140px;
  height: 120px;
  object-fit: cover;              /* image conserve its ratio */
}

/* ---------------------------- */
/*       VIDEOS STYLES          */
/* ---------------------------- */

/* Common styles for video container and reverse container */
.video-container video, .video-container-r video {
  width: 100%;
  height: auto;                   /* maintain aspect ratio of the video */
  border: 1px solid #ccc;
}

/* Style for video container (flex item) */
.video-container {
  flex: 2;                      /* video container will take up more space */
  margin-right: 20px;
}

/* Style for reverse video container (flex item) */
.video-container-r {
  flex: 2;  
  margin-left: 20px;
  max-width: 70%;
}

/* Style for container of the video */
.container, .container-r {
  display: flex;                  /* use flexbox for layout */
  align-items: center;
  max-width: 1000px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;          /* add space below the container */
}

/* Style for reverse container of the video */
.container-r {
  flex-direction: row-reverse;  /* reverse the order of video and text */
}